.mainDiv{
    margin: 82px auto 32px;
    padding: 20px;
    display: flex;
}
.mainContain{
    margin: auto auto auto;
    padding: 10px;
    align-items: center;
}
#PW, #UN, #EI, #RPW, #N, #MN{
    padding: 10px;
}
#LoginWord{
    padding-bottom: 15px;
    color: #B90143; padding-left: 10px; font-size: 30px;
}
#SButton{
    padding-left: 10px;
    padding-top: 15px;
}
#mainContain2{
    display: none;
}
#mainContain1{
    display: block;
}